@import url(https://fonts.googleapis.com/css?family=Raleway:400,600);

body {
  font-family: Raleway !important;
}

h1 {
  font-size: 36px !important;
  color: #FFFFFF !important;
  text-align: center !important;
}

p {
  font-size: 16px !important;
  line-height: 1.5 !important;
  text-align: justify !important;
}

ul li,
ol li {
  font-size: 16px !important;
  line-height: 1.5 !important;
}

.usercard {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  display: table;
  background-color: #efdad8;
}
.usercard + .usercard {
  margin-top: 0;
}

.usercard.usercard_right {
  background-color: #f5f3f4;
}
.usercard.usercard_right .usercard-content h4 {
  text-align: right !important;
}
.usercard.usercard_right .usercard-content p {
  text-align: right !important;
}

.usercard-image,
.usercard-content {
  display: table-cell;
  height: 180px;
}

.usercard-image {
  width: 220px;
  background-size: cover;
  background-position: center center;
}

.usercard-content {
  padding: 20px;
}

.usercard-content h4 {
  font-size: 20px !important;
  font-weight: bold !important;
}

.usercard-content {
  padding: 20px;
}

.titulo {
  background-color:#E74C3C !important;
}

.contenedor{
  border: 5px rgba(103, 2, 2, 0.7) outset;
  
  padding: 10px;
  
  -moz-box-shadow:  5px 5px 30px 0px rgb(128,128,128);
  -webkit-box-shadow:  5px 5px 30px 0px rgb(128,128,128);
  box-shadow:  5px 5px 30px 0px rgb(128,128,128);
}
